<!DOCTYPE html>
<html>
<head>
  <title>Photo Detail</title>
</head>
<body>
  <h1>Photo Detail</h1>
  <p>label : <%= detail_Info.label %></p>
  <p>DateTime: From <%= detail_Info.first_time.split('.')[0] %> To <%= detail_Info.last_time.split('.')[0] %></p>
  <p>place: <%= detail_Info.place %></p>
  <p>bbox: [<%= detail_Info.bbox_x1 %>, <%= detail_Info.bbox_y1 %>, <%= detail_Info.bbox_x2 %>, <%= detail_Info.bbox_y2 %>]</p>
  
  <div class="container">
  <img src="/images/<%= detail_Info.place %>_detail/<%= detail_Info.label %>/detail_<%= detail_Info.last_time %>.jpg" alt="Detail Image">
  <!-- <img src="/images/yolo_<%= detail_Info.place %>_detail/<%= detail_Info.label %>/detail_<%= detail_Info.last_time %>.jpg" alt="Detail Image"> -->

  <style>
    .circle{
        border-radius: 100px;
        display: block;
        width: 200px;
        padding: 15px;
        box-sizing: border-box;
        background: #6fa1ff;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        margin: 10px 0;
    }
  </style>
  <a href="/" class="circle">見つけた！</a>
  </div>
  
</body>
</html>
