<!DOCTYPE html>
<html>
<head>
  <title>Photo Detail</title>
</head>
<body>
  <h1>Photo Detail</h1>
  <p>label : <%= detail_Info.label %></p>
  <p>DateTime: From <%= detail_Info.first_time.split('.')[0] %> To <%= detail_Info.last_time.split('.')[0] %></p>
  <p>bbox: [<%= detail_Info.bbox_x1 %>, <%= detail_Info.bbox_y1 %>, <%= detail_Info.bbox_x2 %>, <%= detail_Info.bbox_y2 %>]</p>
  <img src="/images/table_0527_detail/<%= detail_Info.label %>/detail_<%= detail_Info.last_time %>.jpg" alt="Detail Image">
</body>
</html>
